body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    background-color: beige;
}

h1 {
    background-color: aquamarine;
    text-align: center;
    padding: 15px;
}

ul,
ol,
p {
    background-color: white;
    padding: 10px;
}

li {
    padding: 3px;
}

img {
    height: 250px;
}